html,
* {
  font-family: helvetica;
  box-sizing: border-box;
  font-family: "Grenze", serif;
  margin: auto 0;
  text-align: center;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1d6600;
  background-image: url(http://www.transparenttextures.com/patterns/arabesque.png);
  font-weight: 800;
  color: lightgray;
}

.game-board {
  grid-area: g;
  text-align: center;
  height: 60vmin;
  border: 10px solid #a0522d;
  background-color: #54de59;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
  display: grid;
  width: 150vmin;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "dc pc";
}

.themes {
  color: black;
  display: flex;
  justify-content: flex-start;
  margin-left: 100px;
  margin-top: 20px;
}

main {
  display: grid;
  width: 150vmin;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1f 1fr 5fr 1fr;
  grid-template-areas:
    "h1 h1 h1 h1 h1 h1"
    "h2 h2 h2 h2 h2 h2"
    "ds ds ds ps ps ps"
    "g g g g g g"
    "btn btn btn btn btn btn";
}

main * {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  grid-area: h1;
  margin: 10px 0;
}

#d-score {
  grid-area: ds;
}
#p-score {
  grid-area: ps;
}

#message {
  grid-area: h2;
  display: flex;
  text-align: center;
}

#d-cards {
  grid-area: dc;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 100px;
  line-height: 5px;
  margin-top: 20px;
}
#p-cards {
  grid-area: pc;
  display: flex;
  justify-content: flex-starts;
  flex-wrap: wrap;
  line-height: 5px;
  margin-top: 20px;
}

.prompt {
  grid-area: btn;
}

button {
  width: 50px;
  margin: 10px 10px;
  background-color: white;
  color: black;
}

button:hover {
  background-color: grey;
}
